<div class="forgot-password-container" [class.dark-theme]="themeService.isDark()">
    <div class="image-section">
        <img src="images/sign-in.jpg" alt="forgot-password-image">
    </div>
    <div class="form-section">
        <div class="trezo-form ml-auto mr-auto"
             [class.component-dark-theme]="themeService.isDark()"
             [class.component-rtl-enabled]="themeService.isRTLEnabled()">
            <div class="form-content">
                <div class="logo">
                    <img src="images/logo-big.svg" alt="logo">
                    <img src="images/white-logo-big.svg" class="d-none" alt="logo">
                </div>
                <div class="title">
                    <h1 class="fw-semibold">ลืมรหัสผ่าน?</h1>
                    <p class="fw-medium">กรุณากรอกอีเมลที่คุณใช้ในการสมัครสมาชิก เราจะส่งคำแนะนำในการรีเซ็ตรหัสผ่านไปให้คุณ</p>
                </div>
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label class="main-label d-block fw-medium text-black">อีเมล</label>
                        <mat-form-field>
                            <mat-label>example&#64;dropstock.com</mat-label>
                            <input matInput placeholder="Enter your email" formControlName="email">
                            <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">กรุณากรอกอีเมล</mat-error>
                            <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">อีเมลไม่ถูกต้อง</mat-error>
                        </mat-form-field>
                    </div>
                    <button type="submit" mat-button [disabled]="forgotPasswordForm.invalid || isLoading">
                        <mat-spinner *ngIf="isLoading" diameter="20" class="spinner"></mat-spinner>
                        <span *ngIf="!isLoading" class="mdc-button__label">
                            <i class="material-symbols-outlined">autorenew</i>
                            Send
                        </span>
                    </button>
                    <p class="info">
                        Back to <a routerLink="/authentication/sign-in" class="fw-semibold text-primary">เข้าสู่ระบบ</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
