::ng-deep {
    .orders-card {
        .mat-mdc-card-header {
            .mat-mdc-card-header-text {
                .mat-mdc-card-title {
                    line-height: initial;
                    order: 2;
                }
                .mat-mdc-card-subtitle {
                    order: 1;
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    ::ng-deep {
        .orders-card {
            .mat-mdc-card-header {
                .mat-mdc-card-header-text {
                    display: block;
                }
            }
        }
    }

}

.badge.text-outline {
    background-color: transparent;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
}

.text-outline-success {
    color: #28a745;
    border-color: #28a745;
}

.text-outline-warning {
    color: #ff9307;
    border-color: #ff9307;
}

.text-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
}

.text-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}
