<div
    class="sidebar-area bg-white transition"
    [ngClass]="{'active': isSidebarToggled}"
    [class.card-borderd]="themeService.isCardBordered()"
    [class.dark-sidebar]="themeService.isSidebarDark()"
    [class.hide-sidebar]="themeService.isHideSidebar()"
    [class.component-dark-theme]="themeService.isDark()"
    [class.right-sidebar]="themeService.isRightSidebar()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
    [class.card-with-box-shadow]="themeService.isCardWithBoxShadow()"
>
    <div class="logo bg-white">
        <a routerLink="/dashboard" class="d-flex align-items-center position-relative">
            <img [src]="themeService.isDark() ? 'images/white-logo-big.svg' : 'images/logo-big.svg'" alt="logo-icon">

        </a>
    </div>
    <div
        (click)="toggle()"
        class="burger-menu transition"
        [ngClass]="{'active': isSidebarToggled}"
    >
        <span class="top-bar transition d-block bg-black"></span>
        <span class="middle-bar transition d-block bg-black"></span>
        <span class="bottom-bar transition d-block bg-black"></span>
    </div>
    <ng-scrollbar visibility="hover">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <mat-accordion>
                    <span class="sub-title d-block fw-medium text-uppercase">
                        MAIN
                    </span>
                    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="material-symbols-outlined">
                                    dashboard
                                </i>
                                <span class="title">
                                    Dashboard
                                </span>
                                <span class="trezo-badge rounded-circle fw-medium d-inline-block text-center">
                                    9
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    eCommerce
                                    <span class="trezo-badge d-inline-block position-relative">
                                        New
                                    </span>
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/dashboard/analytics" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Analytics
                                    <span class="trezo-badge d-inline-block position-relative">
                                        Soon
                                    </span>
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/dashboard/sales" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Sales
                                    <span class="trezo-badge d-inline-block position-relative">
                                        Soon
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                    <span class="sub-title d-block fw-medium text-uppercase">
                        APPS
                    </span>
                    <a routerLink="/dashboard/apps/calendar" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="material-symbols-outlined">
                            date_range
                        </i>
                        <span class="title">
                            Calendar
                        </span>
                    </a>
                    <a routerLink="/dashboard/apps/contacts" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="material-symbols-outlined">
                            contact_page
                        </i>
                        <span class="title">
                            Contacts
                        </span>
                    </a>
                    <a routerLink="/dashboard/apps/chat" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="material-symbols-outlined">
                            chat
                        </i>
                        <span class="title">
                            Chat
                        </span>
                    </a>

                    <span class="sub-title d-block fw-medium text-uppercase">
                        PAGES
                    </span>
                    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="material-symbols-outlined">
                                    shopping_cart
                                </i>
                                <span class="title">
                                    eCommerce
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/dashboard/ecommerce-page/products-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Products List
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/dashboard/ecommerce-page/create-product" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Create Product
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/dashboard/ecommerce-page/edit-product" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Edit Product
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/dashboard/ecommerce-page/orders-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Orders List
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/dashboard/ecommerce-page/create-order" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Create Order
                                </a>
                            </li>

                            <li class="sidemenu-item">
                                <a routerLink="/dashboard/ecommerce-page/customers" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Customers
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/dashboard/ecommerce-page/customer-details" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Customer Details
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/dashboard/ecommerce-page/categories" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Categories
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="material-symbols-outlined">
                                    content_paste
                                </i>
                                <span class="title">
                                    Invoices
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/dashboard/invoices" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Invoices
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/dashboard/invoices/invoice-details" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Invoice Details
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/dashboard/invoices/create-invoice" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Create Invoice
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/dashboard/invoices/edit-invoice" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Edit Invoice
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="material-symbols-outlined">
                                    person
                                </i>
                                <span class="title">
                                    Users
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/dashboard/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Team Members
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/dashboard/users/users-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Users List
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/dashboard/users/add-user" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Add User
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="material-symbols-outlined">
                                    account_box
                                </i>
                                <span class="title">
                                    Profile
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/dashboard/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    User Profile
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/dashboard/profile/teams" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Teams
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/dashboard/profile/projects" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Projects
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                    <span class="sub-title d-block fw-medium text-uppercase">
                        OTHERS
                    </span>
                    <a routerLink="/dashboard/my-profile" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="material-symbols-outlined">
                            account_circle
                        </i>
                        <span class="title">
                            My Profile
                        </span>
                    </a>
                    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="material-symbols-outlined">
                                    settings
                                </i>
                                <span class="title">
                                    Settings
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/dashboard/settings" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Account Settings
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/dashboard/settings/change-password" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Change Password
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/dashboard/settings/connections" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Connections
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/dashboard/settings/privacy-policy" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Privacy Policy
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/dashboard/settings/terms-conditions" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Terms & Conditions
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                    <a routerLink="/authentication/logout" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="material-symbols-outlined">
                            logout
                        </i>
                        <span class="title">Logout</span>
                    </a>
                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>
</div>
