.swal2-popup {
    font-size: 1.6rem !important;
    font-family: "Inter", "IBM Plex Sans Thai", sans-serif !important;
  }
  
  .swal2-title {
    color: #012657 !important;
  }
  
  .swal2-html-container {
    color: #64748B !important;
  }
  
  .swal2-confirm {
    background-color: #001EE0 !important;
  }
  
  .swal2-cancel {
    background-color: #FF4023 !important;
  }
  
  .swal2-icon.swal2-success {
    border-color: #28a745 !important;
    color: #28a745 !important;
  }
  
  .swal2-icon.swal2-error {
    border-color: #dc3545 !important;
    color: #dc3545 !important;
  }
  
  .custom-swal-popup {
    border-radius: 12px !important;
  }
  
  .custom-swal-title {
    font-weight: 600 !important;
  }
  
  .custom-swal-content {
    font-weight: 400 !important;
  }
  
  .custom-swal-confirm-button {
    font-weight: 500 !important;
  }